.formStyle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 27px 36px 20px 36px;
}
.inputBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.inputEmail {
  margin-bottom: 24px;
}

.inputCheckBlock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 10px 6px 0;
  margin-top: 12px;
}
.warningText {
  color: green;
}
.inputCheck {
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
}
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  accent-color: var(--textColor);
  border: white 2px solid;
}

.linkFogPas {
  display: inline-block;
  text-decoration: none;
  text-align: right;
  margin: 6px 0 62px 0;
}
