.formMain {
  height: 322px;
}
.formStyle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 51px 36px 0 36px;
}
.warningText {
  color: green;
}
.correctText {
  margin: 19px 0 41px 0;
}
