* {
  padding: 0;
  margin: 0;
}
.profile {
  padding-top: 36px;
  display: flex;
  justify-content: center;
}
.profileBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  padding: 33px 36px 0 36px;
  width: 348px;
  height: 315px;
  border-radius: 2px;
  background-color: var(--backgroundForm);
  border: 1px var(--backgroundForm) solid;
  filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.1))
    drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
}
.profileBlockModal {
  height: 387px;
}
.infoBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 27px;
}
.correctInfoBlock {
  padding-top: 12px;
}

.updateAva {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.avaImg {
  max-width: 96px;
  width: 100%;
  max-height: 96px;
  height: 100%;
}
.fileInput {
  display: none;
}
.correctNameBlock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 9px;
  padding-top: 6px;
}
.modalImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.correctNameBtn {
  background-color: var(--backgroundForm);
  border: none;
  text-align: center;
}
.correctImgNameBtn {
  background-color: var(--backgroundForm);
  padding-top: 8px;
  width: 16px;
  height: 16px;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.correctImgAvaBtn {
  position: absolute;
  bottom: 4px;
  right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: var(--backgroundApp) 1px solid;
  background: var(--backgroundApp);
  box-shadow: 0 2px 10px 0 rgba(109, 109, 109, 0.25);
}

.name {
  font-size: 20px;
}
.correctBtnModal {
  margin-top: 36px;
}
.btnLogout {
  background-color: var(--backgroundApp);
  border: var(--backgroundApp) 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 13px;
  box-shadow: unset;
}
