.updateIconPack {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.titleBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
}

.btnClose {
  background-color: var(--backgroundForm);
  border: none;
  cursor: pointer;
  color: var(--textColor);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.textGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px;
}
.title {
  font-size: 18px;
}
.correctInput {
  width: 100%;
  max-width: 472px;
}

.inputCheckGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24px;
  gap: 8px;
}
.inputCheckBox {
  width: 24px;
  height: 24px;
}
.btnGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px 36px 24px;
}
.correctCanselBtn {
  background-color: var(--backgroundApp);
  border: 1px solid var(--backgroundApp);
  box-shadow: unset;
}
