.toolBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #333333;
  border: 1px #333333;
}

.logo {
  width: 156px;
  height: 36px;
}
.btn {
  width: 103px;
  height: 36px;
  background-color: #8c61ff;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}
