.learn {
  padding: 24px 136px 100px 136px;
}
.linkBlock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  text-decoration: none;
}
.box {
  margin: 36px auto 0 auto;
  width: 420px;
  background-color: var(--backgroundForm);
  border: 1px solid var(--backgroundApp);
  border-radius: 2px 2px 0 0;
  font-size: 18px;
  color: var(--textColor);
  font-weight: 700;
  line-height: 24px;
  min-height: 288px;
}
.correctHeight {
  min-height: 540px;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 33px 36px 48px 36px;
}
.correctTitle {
  text-align: center;
}
.mainContext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 45px;
}
.text {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--textColor);
}

.textAns {
  margin-top: 35px;
}
.radioSection {
  margin-bottom: 29px;
}
.textLeg {
  margin-top: 12px;
}
.secondText {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--secondTextColor);
  margin: 18px 0;
}
.correctAnswer {
  margin-bottom: 11px;
}
.radioGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  margin-top: 12px;
}
.radioInput {
  height: 15px;
  width: unset;
}
.correctMark {
  margin: 0;
}
.correctTextMark {
  font-weight: 300;
}
/*.btn {
  width: 348px;
  height: 36px;
  margin-top: 41px;
  border-radius: 4px;
  background: #8c61ff;
  box-shadow: 0 4px 18px 0 rgba(140, 97, 255, 0.35);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}*/
