.cards {
  padding: 24px 137px 50px 137px;
}
.linkBlock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  text-decoration: none;
}

.cardsBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 33px 0 27px 0;
}

.searchingInput {
  width: 100%;
  color: var(--textColor);
  padding: 10px 12px 10px 32px;
  border-radius: 2px;
  border: 1px solid var(--backgroundApp);
  background: url(/src/commonAccess/iconSearch.png) no-repeat 8px 8px;
  background-size: auto 50%;
}
