.packs {
  padding: 36px 136px 30px 136px;
}
.blockTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blockSetting {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 0 36px 0;
  gap: 15px;
}
.searchingInput {
  max-width: 299px;
  width: 100%;
  color: var(--textColor);
  padding: 10px 12px 10px 32px;
  border-radius: 2px;
  border: 1px solid var(--backgroundApp);
  background: url(/src/commonAccess/iconSearch.png) no-repeat 8px 8px;
  background-size: auto 50%;
}
::-webkit-input-placeholder {
  color: var(--textColor);
  font-size: 16px;
  font-weight: 400;
}
.blockSwitchCards {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.blockSwitchMyCardsButtons {
  display: flex;
  gap: 10px;
}
.bgColorBtnAllCard {
  background-color: transparent;
  border: 1px solid var(--backgroundApp);
  box-shadow: none;
}

.blockInputsRange {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.bgColorClearFilter {
  background-color: var(--backgroundApp);
  display: flex;
  align-items: center;
  gap: 10px;
}
